apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: _
    server: https://server
  name: server
contexts:
- context:
    cluster: server
    user: user
    namespace: default
  name: LPR
current-context: LPR
kind: Config
preferences: {}
users:
- name: user
  user:
    token: token
